arabic-reshaper
asgiref
autopep8
dj-database-url
dj-static
Django
django-crispy-forms
django-filter
django-xhtml2pdf
future
gunicorn
html5lib
Pillow
psycopg2
psycopg2-binary
pycodestyle
PyPDF2
python-bidi
pytz
reportlab
six
sqlparse
static3
toml
webencodings
whitenoise
xhtml2pdf
crispy-bootstrap4