{% extends 'main/main.html' %}
{% load static %}
{% block content %}

<style>
  /* The alert message box */
  .alert {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
  }

  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
</style>
<div class="container" style="max-width: 700px;">

  <div class="row text-center text-primary mt-3">
    <h3>Cart</h3>
  </div>
  <div class="row text-start  mt-3">
    <h4>Items</h4>
  </div>
  {% for item in items %}
  <div class="container  rounded-3  pt-3 pb-3 space-inbetween mb-2"
    style="border: solid; border-color: rgb(219, 219, 219); border-width: 1px;">
    <div class="row justify-content-center align-items-center">
      <div class="col-3">
        <img src="{{item.product.pic.url}}" class="card-img-top" alt="...">
      </div>
      <div class="col-4">

        <p class="card-title" style="font-size: large;"><b>{{item.product.name}}</b></p>
        <p class="card-text mb-0" style="color: gray; font-size: small; ">Price </p>
        <p class="card-text" style="color: #F36621; font-size: x-large;"><b>{{item.product.shop_price}}₹<span
              style="font-size: small;">/kg</span></b></p>


      </div>
      <div class="col-4 d-inline-flex justify-content-evenly">



        <button data-product={{item.product.id}} data-action="remove"
          class="btn btn-outline-dark border border-secondary px-0 align-middle update-cart ">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-dash-circle"
            viewBox="0 0 16 16">

            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
          </svg>
        </button>
        <div class="align-self-center mx-3 " style="font-size: large"><b>{{item.quantity}}</b></div>

        <button data-product={{item.product.id}} data-action="add"
          class="btn btn-outline-dark border border-secondary px-0 align-middle update-cart ">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle"
            viewBox="0 0 16 16">

            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
        </button>





      </div>


    </div>
  </div>
  {%empty%}
  <p id="items">Cart is empty</p>
  {% endfor %}
</div>

<br>
<br>
<br>

<div class="container-fluid fixed-bottom    pt-3 pb-3 " style=" background-color: honeydew;">
  <div class="mx-auto" style="max-width: 700px;">


    <div class="row justify-content-center align-items-center  ">

      <div id ="price"class="col-4">
        <p class="mb-0" style="color: gray; font-size: small;"> Total Amount </p>
        <h4> <b> {{order.get_cart_total}}₹</b> </h4>
        <h6 class="text-primary border-dark">*Free Delivery</h6>
      </div>

      <div id="process" class="col-6 ">
        <a href = "{%url 'main:checkout' %}"id="cart-button" class="btn   btn-primary  rounded-pill d-block w-100" ><b>PROCEED</b> </a>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<script>
    var x;
    
    x = document.getElementById('items').value;
    if (x = "Cart is empty") {
      console.log('no items')
      var button;
      var price;
      button = document.getElementById('process').style.display = "none";
      price = document.getElementById('price').style.display = "none";
    } else {
      console.log('cart is not empty')
    }


</script>
<script>

  function addCookieItem(productId, action){
    console.log('User is not authenticated')
  
    if (action == 'add'){
      if (cart[productId] == undefined){
      cart[productId] = {'quantity':1}
  
      }else{
        cart[productId]['quantity'] += 1
      }
    }
  
    if (action == 'remove'){
      cart[productId]['quantity'] -= 1
  
      if (cart[productId]['quantity'] <= 0){
        console.log('Item should be deleted')
        delete cart[productId];
      }
    }
    console.log('CART:', cart)
    document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
    
    location.reload()
  }
    var updateBtns = document.getElementsByClassName('update-cart')
  for(var i=0; i < updateBtns.length ; i++ ){
      updateBtns[i].addEventListener('click',function(){
          var productId = this.dataset.product
          var action = this.dataset.action
          console.log('productId:', productId, 'action:', action )
          console.log('USER', user)
          if(user === 'AnonymousUser'){
              addCookieItem(productId, action)
          }else{
              updateUserOrder(productId, action)
          }
      })
  }
  </script>
{% endblock %}