{% extends 'main/main.html' %}

{%block content%}


<style>

    a {
    text-decoration: none;
    color: white;
    }

    a:hover {
    color: #e2e2e2;
    text-decoration: none;
    cursor: pointer;
    }
    #total-orders{
        background-color: #001087
    }

    #orders-delivered{
        background-color: #001087
    }

    #orders-pending{
        background-color: #001087
    }
</style>
<br>
<div class="row">
<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="total-orders">
            <div class="card-header">
                <a href="/orders/?status=Out+For+Delivery"><h5 class="card-title">Out For Delivery</h5></a>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ofd}} </h3>
            </div>
        </div>

    </div>
</div>
<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="orders-delivered">
            <div class="card-header">
               <a href="/orders/?status=Delievred"><h5 class="card-title">Delivered Orders</h5></a> 
            </div>
            <div class="card-body">
                <h3 class="card-title">{{delivered}}</h3>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="orders-pending">
            <div class="card-header">
                <a href="/orders/?status=Pending"><h5 class="card-title">Pending Orders</h5></a> 
            </div>
            <div class="card-body">
                <h3 class="card-title">{{pending}}</h3>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col col-md5">
        <h5>Products</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                {%for product in products %}
                <tr>
                    <td><a class = 'btn btn-sm btn-primary' href="{%url 'main:product_update' product.id %}">Edit</a></td>
                    <td>{{product.name}}</td>
                    <td>{{product.shop_price}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
    <div class="col col-md 7">
        <h5>Last 10 Pending Orders</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th></th>
                    <th>Customer</th>
                    <th>Order ID</th>
                    <th>Date</th>
                </tr>
                {%for order in orders %}
                <tr>
                    <td><a class = 'btn btn-sm btn-info' href="{% url 'main:order_items' order.id %} ">View</a></td>
                    <td><a class = 'btn btn-sm btn-danger' href="{% url 'main:pdf' order.id %} ">PDF</a></td>
                    <td> {{order.customer}} </td>
                    <td> {{order.transaction_id}} </td>
                    <td> {{order.date_created}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</div>
{%endblock%}
